<app-header></app-header>
<div class="main-content">
  <div class="header-content">
      <div class="emp-detail-text">Employee Details </div>
      <a class="add-button" type="button" href="addemployee">
          <img src="../../assets/icons/add-24px.svg">
          Add User
      </a>
    </div>
     <div class="table-main">
     <table id="display" class="table">
          <tr style=" background: #112538 0% 0% no-repeat padding-box;;">
              <th></th>
              <th style="color: #ffffff">Name</th>
              <th style="color: #ffffff">Gender</th>
              <th style="color: #ffffff">Department</th>
              <th style="color: #ffffff">Salary</th>
              <th style="color: #ffffff">Start Date</th>
              <th style="color: #ffffff">Actions</th>
          </tr>
          <!-- printing first row from database -->
          <tr *ngFor="let empItem of empList">
          <td>
              <img class="profile" src="../../assets/profile-images/Ellipse -2.png">
            </td>
          <td>{{empItem.name}}</td>
          <td>{{empItem.gender}}</td>
          <div class="dept-label">
          <td>{{empItem.department}}</td>
          </div>
          <td>{{empItem.salary}}</td>
          <td>{{empItem.startDate}}</td>
          <td>
            <!-- <button type="button" (click)="updateEmp(employee.id)">
              <img src="../../assets/icons/create-black-18dp.svg">

            </button> -->
             <a href="" (click)="deleteEmployee(empItem.id)"><img alt="delete" src="../../assets/icons/delete-black-18dp.svg" ></a>
             <a ><img alt="edit" src="../../assets/icons/create-black-18dp.svg" ></a>
              <!-- <img alt="edit" src="../../assets/icons/create-black-18dp.svg" (click)="updateEmp(employee.id)"> -->
           
          </td>
          </tr>
     </table>
  </div>
</div>